.App {
  background-color: bisque;
  height: 100vh;
}

.Header {
  background-color: blueviolet;
  height: 60px;
  width: 100vw;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
  color: chartreuse;
}

.Card {
  float: left;
  height: 220px;
  width: 17%;
  background-color: cadetblue;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  color: darkgreen;
  font-size: 24px;
}

h4 {
  font-size: 40px;
}

.SearchContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.CityName {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
